<b>Name:</b>
<p><%= @pizza.pretty_name() %></p>

<b>Order:</b>
<p><%= @pizza.quantity %> x <%= @pizza.topping %></p> <!-- Only need = when displaying in browser -->

<a href="/pizzas/<%= @pizza.id %>/edit">Edit</a>