<h1>Order a Pizza</h1>

<form action = "/pizzas" method = "post">
  <label for = "first_name">First name:</label>
  <input type = "text" name = "first_name"></input>

  <label for = "last_name">Last name:</label>
  <input type = "text" name = "last_name"></input>

  <label for = "topping">Select a pizza:</label>
  <select name="topping">
    <option value = "margherita">Margherita</option>
    <option value = "pepperoni">Pepperoni</option>
  </select>

  <label for = "quantity">Quantity:</label>
  <input type = "number" name = "quantity"></input>

  <input type = "submit" value = "Order Pizza"></input>

</form>