
# BEGIN WP Remote Backup
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=109c2571b248bd116f164d2387504d9a
RewriteRule (.*) - [F]
</IfModule>

# END WP Remote Backup